<h1>
  <%= t('.header', title: @test.title) %>
</h1>

<p>
  <%= t('.corrects', correct_questions: @test_passage.correct_questions,
                     questions_count: @test.questions.count) %>
  (<span class="<%= @test_passage.passed? ? 'success-passage' : 'failed-passage' %>">
    <%= @test_passage.success_rate %>%
  </span>)
</p>

<p>
  <%= @test_passage.passed? ? t('.success') : t('.failed') %>
</p>

<%= link_to t('.links.back'), tests_path %>
