<h1 class="mb-4">
  <%= t('.header', title: @test.title) %>
</h1>

<h4 class="mb-4">
  <%= t('.corrects', correct_questions: @test_passage.correct_questions,
                     questions_count: @test.questions.count) %>
  <span class="badge <%= @test_passage.passed? ? 'bg-success' : 'bg-danger' %>">
    <%= @test_passage.success_rate %>%
  </span>
</h4>

<% if @test_passage.passed? %>
  <div class="alert alert-success">
    <%= t('.success') %>
  </div>
<% else %>
  <div class="alert alert-danger">
    <%= t('.failed') %>
  </div>
<% end %>

<%= link_to t('.links.back'), tests_path, class: 'btn btn-secondary' %>
