<h1>
  <%= @test.title %> Test results:
</h1>

<p>
  Correct questions: <%= @test_passage.correct_questions %>
  from <%= @test.questions.count %>
  (<span class="<%= @test_passage.passed? ? 'success-passage' : 'failed-passage' %>">
    <%= @test_passage.success_percent %>%
  </span>)
</p>

<p>
  <%= @test_passage.passed? ? 'Congratulations! You passed the Test.' : 'Test failed! Try again.' %>
</p>

<%= link_to 'Back', tests_path %>
