<h1 class="mb-4">
  <%= t('.header', title: @test.title) %>
</h1>

<h3 class="mb-4">
  (<%= current_question_number(@test_passage.current_question)%> / <%= @test.questions.count %>)
  <%= @test_passage.current_question.body %>
</h3>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids,
                               @test_passage.current_question.answers,
                               :id,
                               :body,
                               include_hidden: false do |b| %>
    <div class="mb-3 row">
      <div class="form-check">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    </div>
  <% end %>

  <%= f.submit t('.buttons.submit'), class: 'btn btn-primary' %>

  <%= link_to t('.links.gist'), gist_test_passage_path(@test_passage), method: :post, class: 'btn btn-warning' %>
<% end %>
