<div>
  <h1>
    <%= link_to t('.links.home'), root_path %>
  </h1>

  <% if user_signed_in? %>
    <%= t('.greeting', name: current_user.first_name.capitalize) %>
    <%= button_to t('.buttons.logout'), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t('.links.signup'), new_user_registration_path %> |
    <%= link_to t('.links.login'), new_user_session_path %>
  <% end %>
</div>
<hr/>
