<h1 class="mb-4">
  <%= question_header(@question) %>
</h1>

<%= form_with(model: [:admin, @test, @question], local: true) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>

  <%= f.submit button_text, class: 'btn btn-primary' %>

  <%= link_to t('.links.back'), admin_test_path(@question.test), class: 'btn btn-secondary' %>
<% end %>


