<h1>
  <%= question_header(@question) %>
</h1>

<%= form_with(model: [:admin, @test, @question], local: true) do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit button_text %>
  </p>
<% end %>

<%= link_to t('.links.back'), admin_test_path(@question.test) %>
