<h1 class="mb-4">
  <%= @question.test.title %> <%= t('.question') %>
</h1>

<h4 class="mb-4">
  <%= @question.body %>
</h4>

<h2 class="mb-4">
  <%= t('.answers') %>
</h2>

<ol class="list-group list-group-numbered mb-4">
  <%= render @question.answers %>
</ol>

<%= link_to t('.links.new_answer'), new_admin_question_answer_path(@question), class: 'btn btn-primary' %>
<%= link_to t('.links.back'), admin_test_path(@question.test), class: 'btn btn-secondary' %>
