<h1>
  <%= @question.test.title %> <%= t('.question') %>>
</h1>

<p>
  <%= @question.body %>
</p>

<h2>
  <%= t('.answers') %>
</h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.links.new_answer'), new_admin_question_answer_path(@question) %> |
<%= link_to t('.links.back'), admin_test_path(@question.test) %>
