<h1 class="mb-4">
  <%= t('.header') %>
</h1>

<%= link_to t('.links.new'), new_admin_test_path, class: 'btn btn-primary mb-3' %>

<%= render 'shared/errors', object: @test %>

<div class="table-responsive mt-4">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col" class="sort-by-title pointer">
        <%= t('.table.title') %>
        <%= octicon 'arrow-up', class: 'text-white hide' %>
        <%= octicon 'arrow-down', class: 'text-white hide' %>
      </th>
      <th scope="col"><%= t('.table.level') %></th>
      <th scope="col"><%= t('.table.category') %></th>
      <th scope="col"><%= t('.table.questions_count') %></th>
      <th scope="col"><%= t('.table.published') %></th>
      <th scope="col"><%= t('.table.actions') %></th>
    </tr>
    </thead>

    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
