<h1>
  <%= @test.title %> - <%= t('.level') %>: <%= @test.level %>
</h1>

<p>
  <%= link_to t('.links.edit'), edit_admin_test_path(@test) %> |
  <%= link_to t('.links.destroy'), admin_test_path(@test),
                         method: :delete, data: { confirm: t('.links.confirm') } %>
</p>

<h2>
  <%= t('.questions') %>
</h2>

<%= render @test.questions %>

<%= link_to t('.links.new_question'), new_admin_test_question_path(@test) %> |
<%= link_to t('.links.back'), admin_tests_path %>
