<h1>
  <%= @test.title %> (level: <%= @test.level %>)
</h1>

<p>
  <%= link_to 'Edit', edit_admin_test_path(@test) %> |
  <%= link_to 'Destroy', admin_test_path(@test),
                         method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<h2>Questions:</h2>

<%= render @test.questions %>

<%= link_to 'New question', new_admin_test_question_path(@test) %> |
<%= link_to 'Back', admin_tests_path %>
