<footer class="mt-auto bg-dark py-3 text-white text-lg-start">
  <div class="d-flex justify-content-center">
    <%= link_to t('.links.contacts'), new_contact_path, class: 'text-blue-300 text-decoration-none' %>
  </div>

  <div class="d-flex justify-content-center">
    <%= current_year %> &copy; <%= author %>
  </div>

  <div class="d-flex justify-content-center">
    <%= github_url(author, repo) %>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to t('.links.thinknetica'), 'https://thinknetica.com/',
                target: '_blank', class: 'text-yellow-200 text-decoration-none' %>
  </div>
</footer>
